<!DOCTYPE html>
<html lang="zh-CN">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
  <title>todoList</title>

  <!-- Bootstrap -->
  <link href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">

  <!-- HTML5 shim 和 Respond.js 是为了让 IE8 支持 HTML5 元素和媒体查询（media queries）功能 -->
  <!-- 警告：通过 file:// 协议（就是直接将 html 页面拖拽到浏览器中）访问页面时 Respond.js 不起作用 -->
  <!--[if lt IE 9]>
      <script src="https://cdn.bootcss.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
  <style>
    input[type="checkbox"] {
      vertical-align: -3px;
    }

    .label {
      padding: 5px;
      font-size: 14px;
    }

    .del {
      text-decoration: red line-through;
    }
  </style>
</head>

<body>
  <div id="app">
    <nav class="navbar navbar-inverse">
      <a class="navbar-brand" href="#">todoList</a>
      <ul class="nav navbar-nav">
        <li class="active">
          <a href="#">Home</a>
        </li>
      </ul>
    </nav>

    <div class="container">
      <div class="row col-md-8 col-md-offset-2">
        <div class="panel panel-warning">
          <div class="panel-heading">
            <!-- <h3 class="panel-title">❤亲，你有X件事要完成</h3> -->
            <div class="input-group">
              <span class="input-group-addon">添加任务</span>
              <input type="text" class="form-control" v-model="title" @keyup.enter="add">
            </div>
          </div>
          <div class="panel-body">
            <ul class="list-group">
              <li class="list-group-item" v-for="(todo,index) in filterTodoList" :key="index" @dblclick="remember(todo)">
                <template v-if="cur!=todo">
                  <input type="checkbox" v-model="todo.isSelected" :id="'checkbox'+index">
                  <label :for="'checkbox'+index" class="label label-info" :class="{'del':todo.isSelected}">{{todo.title}}</label>
                  <span class="glyphicon glyphicon-remove pull-right" @click="remove(todo)"></span>
                </template>
                <!-- 自定义指令不能使用v-if控制显示，只能使用v-show。并且自定义指令只能放在内置指令之后（v-show必须放在自定义指令之前）-->
                <input type="text" class="form-control" v-model="todo.title" @keyup.enter="cancel" @blur="cancel" v-show="cur==todo" v-focus="cur==todo">

              </li>
              <li class="list-group-item text-primary">
                ❤亲，你有{{count}}件事要完成
              </li>
            </ul>
          </div>
          <div class="panel-footer">
            <ul class="nav nav-pills">
              <li role="presentation" :class="{active:hash==='all'}">
                <a href="#/all">全部任务</a>
              </li>
              <li role="presentation" :class="{active:hash==='finish'}">
                <a href="#/finish">已完成</a>
              </li>
              <li role="presentation" :class="{active:hash==='unfinish'}">
                <a href="#/unfinish">未完成</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- jQuery (Bootstrap 的所有 JavaScript 插件都依赖 jQuery，所以必须放在前边) -->
  <script src="https://cdn.bootcss.com/jquery/1.12.4/jquery.min.js"></script>
  <!-- 加载 Bootstrap 的所有 JavaScript 插件。你也可以根据需要只加载单个插件。 -->
  <script src="https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

  <script src="https://cdn.bootcss.com/vue/2.5.16/vue.js"></script>
  <script src="https://cdn.bootcss.com/axios/0.18.0/axios.js"></script>

  <script>
    let vm = new Vue({
      el: "#app",
      data: {
        title: '',
        cur: '',
        hash: '',
        todos: [{
          isSelected: false,
          title: '睡觉'
        }, {
          isSelected: false,
          title: '吃饭'
        }]
      },
      methods: {
        add() {
          this.todos.push({
            isSelected: false,
            title: this.title
          })
          this.title = ""
        },
        remove(todo) {
          this.todos = this.todos.filter(item => item !== todo)
        },
        remember(todo) {
          this.cur = todo
        },
        cancel() {
          this.cur = ""
        }
      },
      computed: {
        count() {
          return this.todos.filter(item => !item.isSelected).length
        },
        filterTodoList() {
          if (this.hash === 'all') {
            return this.todos
          } else if (this.hash === 'finish') {
            return this.todos.filter(item => item.isSelected)
          } else if (this.hash === 'unfinish') {
            return this.todos.filter(item => !item.isSelected)
          } else {
            return this.todos
          }
        }

      },
      directives: {
        focus(el, binding) {
          if (binding.value) {
            el.focus()
          }
        }
      },
      watch: {
        todos: { //watch默认只监控一层的数据变化
          handler() { //默认写函数，就相当于默认写了个handler
            localStorage.setItem("todoList", JSON.stringify(this.todos))
          },
          deep: true //深度监控
        }
      },
      created() { //如果localStorage中有数据就用有的数据，没有就用默认的
        this.todos = JSON.parse(localStorage.getItem("todoList")) || this.todos
        //监控hash的变化 
        this.hash = window.location.hash.slice(2) || 'all'
        window.addEventListener('hashchange', () => {
          this.hash = window.location.hash.slice(2)
        })
      }
    })
  </script>
</body>

</html>